package frontend

templ Menu() {
	<a href="#KEVIN" class="px-2 py-2 w-full flex items-center rounded-md transition-colors text-left hover:bg-gray-100 focus-visible:bg-gray-50 disabled:opacity-50 disabled:cursor-not-allowed">
		About KEVIN
	</a>
}
