package frontend

import (
	"fmt"
	"path"
)

func genSpriteClass(u string, x, y, w, h int) templ.Attributes {
	fullUrl := path.Join("/static/sprite", u)
	return templ.Attributes{
		"src":   fullUrl,
		"class": fmt.Sprintf("w-[%dpx] h-[%dpx] object-none object-[-%dpx_-%dpx] rounded", w, h, x, y),
	}
}

templ sprite(u string, x, y, w, h int) {
	<img { genSpriteClass(u, x, y, w, h)... }/>
}
