package frontend

templ TextTitle(s string) {
	<div class="font-bold text-2xl whitespace-nowrap">
		{ s }
	</div>
}

templ TextLabel(s string) {
	<div class="text-sm whitespace-nowrap">
		{ s }
	</div>
}
