package frontend

import "context"
import "io"

type View struct {
	Children []templ.Component
}

templ (m View) build() {
	<div>
		for _, c := range m.Children {
			@c
		}
	</div>
}

func (m View) Render(ctx context.Context, w io.Writer) error {
	return m.build().Render(ctx, w)
}
