package component

import (
	"context"
)

type Link struct {
	Href string

	Children Component
}

templ (m Link) ToTempl(ctx context.Context) {
	<a
		href={ templ.URL(m.Href) }
		class="block rounded-lg cursor-pointer transition hover:bg-gray-900/5 dark:hover:bg-gray-100/5"
	>
		if m.Children != nil {
			@m.Children.ToTempl(ctx)
		}
	</a>
}
