package profile

import "context"

type MatchTeamListData struct {
	Participants []MatchParticipantCardData
}

templ MatchTeamList(ctx context.Context, data MatchTeamListData) {
	<div class="rounded-2xl border border-gray-900/10 bg-white shadow-sm shadow-gray-900/10 dark:border-gray-100/10 dark:bg-black dark:shadow-gray-100/10">
		for _, data := range data.Participants {
			@MatchParticipantCard(ctx, data)
		}
	</div>
}
