# GCP Run uses PORT for server
PORT=7331

# Riot API Key
KEVIN_RIOT_API_KEY=abc

# App Settings
KEVIN_ENV=development # development | staging | production

# Database (Postgres) Settings
KEVIN_DB_HOST=db
KEVIN_DB_PORT=5432
KEVIN_DB_NAME=kevin
KEVIN_DB_USER=kevin
KEVIN_DB_PASSWORD=change-me

# Optional: single URL form
KEVIN_DATABASE_URL=postgres://kevin:change-me@db:5432/kevin?sslmode=disable

# Tern Migrator Settings
TERN_CONFIG=./tern.conf
TERN_MIGRATIONS=./migrations

# Health / diagnostics
KEVIN_HEALTHCHECK_PATH=/healthz
KEVIN_READYCHECK_PATH=/readyz
