# App Settings
KEVIN_RIOT_API_KEY=abc
KEVIN_DATABASE_URL=postgres://kevin:change-me@localhost:5432/kevin?sslmode=disable
KEVIN_ENV=development # development | staging | production
PORT=7331 # GCP Run uses PORT for server

# Database (Postgres) Settings
KEVIN_DB_HOST=db # HACK: this refers to service `db` in docker compose
KEVIN_DB_PORT=5432
KEVIN_DB_NAME=kevin
KEVIN_DB_USER=kevin
KEVIN_DB_PASSWORD=change-me

# Tern Migrator Settings
TERN_CONFIG=./tern.conf
TERN_MIGRATIONS=./migrations
