# This file documents the available environment settings

# Secret Settings
KEVIN_RIOT_API_KEY=  # Get from Secret Manager: ENV-kevin-riot-api-key
KEVIN_DATABASE_URL=  # Get from Secret Manager: ENV-kevin-database-url

# Other Settings
KEVIN_ENV=  # dev | staging | prod
PORT=7331   # GCP Run uses PORT for server

# Tern Migrator Settings
TERN_CONFIG=./tern.conf
TERN_MIGRATIONS=./migrations
