package historycard

import "context"

type tagsData struct {
	ID   int
	Name string
}

templ tags(ctx context.Context, data tagsData) {
	<div class="flex flex-wrap gap-0.5 text-xs">
		<span class="inline-flex flex-none px-1.5 py-0.5 text-body">Dec 20, 10:50AM EST</span>
		<span class="inline-flex px-1.5 py-0.5 text-body">34:11</span>
		<span class="inline-flex px-1.5 py-0.5 text-body">GM</span>
		<span class="inline-flex px-1.5 py-0.5 text-body">+21</span>
	</div>
}
