package suspense

import "context"
import "github.com/rank1zen/kevin/internal/partial"

type RankCard struct {
	Channel chan partial.RankCard
}

templ (m RankCard) ToTempl(ctx context.Context) {
	<div class="bg-gray-900/5 h-30 rounded-lg p-2"></div>
}
