package matchteam

import "context"

type MatchteamData struct {
	Participants []MatchteamPlayerData
}

templ Matchteam(ctx context.Context, data MatchteamData) {
	<div class="rounded-2xl border border-gray-900/10 bg-white shadow-sm shadow-gray-900/10 dark:border-gray-100/10 dark:bg-black dark:shadow-gray-100/10">
		for _, data := range data.Participants {
			@matchParticipantCard(ctx, (matchParticipantCardData)(data))
		}
	</div>
}

type MatchteamPlayerData matchParticipantCardData
