package matchteam

import "context"

type MatchteamData struct {
	Participants []MatchteamPlayerData
}

templ Matchteam(ctx context.Context, data MatchteamData) {
	<div class="bg-white border border-gray-900/10 shadow-sm shadow-gray-900/10 rounded-2xl dark:bg-black dark:border-gray-100/10 dark:shadow-gray-100/10">
		for _, data := range data.Participants {
			@matchParticipantCard(ctx, (matchParticipantCardData)(data))
		}
	</div>
}

type MatchteamPlayerData matchParticipantCardData
