package match_card

import (
	"context"
	"fmt"
)

type itemWidgetData struct {
	Items       [7]int
	VisionScore int
}

templ itemWidget(ctx context.Context, data itemWidgetData) {
	<div class="flex h-9 flex-none items-center gap-x-1 rounded-lg bg-gray-100 px-1 dark:bg-neutral-100/20">
		<div class="relative">
			<span class="absolute bottom-0 left-1/2 -translate-x-1/2 text-xs font-medium text-white">
				{ fmt.Sprintf("%d", data.VisionScore) }
			</span>
		</div>
	</div>
}
