package profile

import (
	"context"
	"github.com/rank1zen/kevin/internal/component/modal"
)

type LiveMatchButtonData struct {
	Path string
	Data string
}

templ LiveMatchButton(ctx context.Context, data LiveMatchButtonData) {
	@modal.Modal() {
		@modal.Trigger() {
			<span class="text-sm font-bold text-gray-900/90 dark:text-neutral-100/90 disabled:text-gray-500/90">
				Live Match
			</span>
		}
		@modal.LazyPanel(data.Path, data.Data) {
			spinner
		}
	}
}
