package rank_card

import "context"

type LoaderData struct {
}

templ Loader(ctx context.Context, data *LoaderData) {
	<div
		hx-get="/profile/web/partial/rank_card"
		hx-trigger="load once"
	>
		// TODO: hx-get
		<div class="h-40"></div>
	</div>
}
