package shared

import "context"

type PageFooterData struct {
}

templ PageFooter(ctx context.Context, data PageFooterData) {
	<div class="pt-8 pb-4">
		<div class="px-4 text-center text-gray-900/90 dark:text-gray-100/90">
			Copyright © 2025 RANK1ZEN
		</div>
	</div>
}
