package profile

import (
	"context"
	"fmt"
	"github.com/rank1zen/kevin/internal/component/shared"
)

type Bar struct {
	Name, Tag string

	Rank shared.RankWidget
}

templ (m Bar) ToTempl(ctx context.Context) {
	<div class="flex h-13 items-center gap-x-2 justify-between">
		<div class="flex items-center gap-x-2">
			<h1 class="font-bold text-2xl text-gray-900/90 dark:text-gray-100/90">
				{ fmt.Sprintf("%s#%s", m.Name, m.Tag) }
			</h1>
			@m.Rank.ToTempl(ctx)
		</div>
	</div>
}
