package profile

import "context"

// TODO: rename to Profile.
type Layout struct {
	Bar Bar

	Matchlist Matchlist

	Side Side
}

templ (m Layout) ToTempl(ctx context.Context) {
	<div>
		<div class="max-w-7xl px-7 mx-auto">
			@m.Bar.ToTempl(ctx)
		</div>
		<div class="flex px-7 max-w-7xl mx-auto gap-x-4">
			@m.Matchlist.ToTempl(ctx)
			@m.Side.ToTempl(ctx)
		</div>
	</div>
}
