package profile

import (
	"context"
	"github.com/rank1zen/kevin/internal/component"
)

type Matchlist []component.Section

templ (m Matchlist) ToTempl(ctx context.Context) {
	<div class="flex flex-col flex-1 gap-y-7">
		for _, c := range m {
			@c.ToTempl(ctx)
		}
	</div>
}
