package live

import (
	"context"
	"github.com/rank1zen/kevin/internal/component/shared"
	"time"
)

type MatchWidget struct {
	StartTimestamp time.Time

	AverageRank shared.RankWidget
}

templ (m MatchWidget) ToTempl(ctx context.Context) {
	<div class="h-9">
		<div>
			{ m.StartTimestamp.Format("Jan 2, 3:04PM") }
		</div>
		@m.AverageRank.ToTempl(ctx)
	</div>
}
