package live

import "context"

type Me struct {
}

templ (m Me) ToTempl(ctx context.Context) {
	<div class="flex items-center justify-center h-9 w-xs bg-gray-900/5 dark:bg-gray-100/5">
		<span>
			Live Match
		</span>
	</div>
}

templ MeNotInMatch(ctx context.Context) {
	<div class="flex items-center justify-center h-9 w-xs">
		Not found
	</div>
}
