package view

import "context"
import "github.com/rank1zen/kevin/internal/component/page"
import "github.com/rank1zen/kevin/internal/component/shared"
import "github.com/rank1zen/kevin/internal/riot"

type HomePage struct {
	Region riot.Region
}

templ (m HomePage) ToTempl(ctx context.Context) {
	@page.Page("Kevin") {
		@page.Header() {
			@shared.Header{Region: m.Region}.ToTempl(ctx)
		}
		@page.Body() {
		}
		@page.Footer() {
			@shared.NewPageFooter().ToTempl(ctx)
		}
	}
}
